body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 100px;
    width: 100%;
    background-color: aqua;
}

.izquierda {
    height: 100%;
    width: 20%;
    background-color: yellow;
}

.derecha {
    height: 100%;
    width: 80%;
    background-color: pink;
}

.principal {
    height: 100%;
    display: flex;
    background-color: teal;
}

.mycard {
    background: #F2F2F2;
    height: 250px;
    width: 250px;
    border-radius: 5%;
}