* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #77D5FD;
}


/* header {
    height: 100px;
    width: 100%;
    background-color: aqua;
} */

.derecha {
    height: 100%;
    width: 80%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.principal {
    height: 100%;
    display: flex;
    background-color: teal;
}

.card {
    background: #F2F2F2;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    margin: 20px 30px;
}

.styleImg {
    height: 120px;
    width: 120px;
    display: block;
    margin: auto;
}

.cardText {
    font-size: 16px;
    text-align: center;
    margin: 20px;
    color: #33475B;
    font-weight: 500;
}


/********************/

footer {
    background-color: #77D5FD;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    background-color: #A0E2FE;
    /* width: 8rem; */
    /* height: 100%; */
    width: 20%;
    justify-content: space-around;
    /* max-width: 250px; */
}

nav { 
    max-height: 250px;
    background-color: #A0E2FE;
    justify-content: space-evenly;
}

header div {
    display: flex;
    justify-content: center;
}

header div h1 {
    font-size: 35px;
}

header div img {
    height: 80%;
    align-self: center;
    padding: 10px;
}